TLA/*.tlaps
TLA/*.toolbox
Preuve/*/*.aux
Preuve/*/*.log
Preuve/*/*.pdf
Compte rendu/*.aux
Compte rendu/*.log
Compte rendu/*.pdf
Compte rendu/*.bbl
Compte rendu/*.blg
Compte rendu/*.out
Compte rendu/*.toc
